@use "../../scss/abstracts"as *;

.container-home {
    background-color: $clr-bcg-primary-light;
}

.notFound-body {
    height: 77vh;
    position: relative;
    // display:flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;

    & img {
        position: absolute;
        top: 20%;
        transform: scale(.6);
        // object-fit: cover;
    }
}

.errorPage-reason {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

.errorPage-reason h1 {
    font-size: 2rem;
}