@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

$ff-primary: Poppins, sans-serif;
$ff-body: $ff-primary;
$ff-heading: $ff-primary;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;
