@use "../../scss/abstracts"as *;

.header-bcg {
    background-color: $clr-bcg-primary-light;
}

.my-link {
    color: $clr-main-primary;

    &:hover,
    &:focus,
    &:active {
        // color: $clr-main-secondary !important;
        color: $clr-main-primary !important;
        text-decoration-line: line-through;
        text-decoration-color: $clr-main-secondary;
        border: 0;
        outline: 0;
    }

    @include mq(md) {
        font-size: .9rem;
    }

    @include mq(lg) {
        font-size: 1rem;
    }
}



button.navbar-toggler {
    color: $clr-main-primary;
    border: 1px solid $clr-main-primary;

    &>span {
        color: $clr-main-primary !important;
    }

    &:focus {
        color: $clr-main-secondary;
        border-color: $clr-main-secondary;
    }
}