@use "../../scss/abstracts" as *;

.my-header {
    color: $clr-main-primary;
    
}

.my-link{
    color: $clr-main-primary;
    &:hover {
        color: $clr-main-secondary;
        text-decoration-line: line-through;
    }
}

button.navbar-toggler {
    color: $clr-main-primary;
    margin-left:auto;
   & > span {
       color: $clr-main-primary !important;
   } 
}