@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #F9F9F8;
  min-width: 270px;
  overflow-x: hidden;
}
body::before {
  content: url("/images/shape_dots.png");
  color: #00BBD5;
  position: absolute;
  bottom: -2%;
  left: -0.5%;
  z-index: -3;
  transform: scale(0.8);
}
body::after {
  content: url("/images/shape_dots.png");
  color: #00BBD5;
  position: absolute;
  top: -3%;
  right: -1%;
  z-index: -3;
  transform: scale(0.8);
}

.btn-my-primary {
  border: none;
  outline: none;
  background-color: #00BBD5;
  border-radius: 0;
}
.btn-my-primary:hover {
  background-color: #F9F9F8;
  color: #00BBD5;
}

.btn-my-secondary {
  border: 1px solid #F9F9F8;
  background-color: transparent;
  border-radius: 0;
  color: #F9F9F8;
}
.btn-my-secondary:hover {
  background-color: #F9F9F8;
  color: #00BBD5;
}

.clr-primary {
  color: #F9F9F8;
}

.clr-secondary {
  color: #00BBD5;
}

.uppercase {
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  line-height: 1.5rem;
  font-size: 0.8125rem;
}

.description {
  width: 80%;
  margin: 0 auto;
}
