@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-color: #06101A;
  color: #F9F9F8;
  min-width: 270px;
  height: 100vh;
  overflow-x: hidden;
}
body::before {
  content: url("/images/shape_dots.png");
  color: #00BBD5;
  position: absolute;
  top: 70%;
  left: -0.5%;
  z-index: -3;
}
body::after {
  content: url("/images/shape_dots.png");
  color: #00BBD5;
  position: absolute;
  top: -2%;
  right: -0.5%;
  z-index: -3;
}

.btn-my-primary {
  border: none;
  outline: none;
  background-color: #00BBD5;
  border-radius: 0;
}
.btn-my-primary:hover {
  background-color: #F9F9F8;
  color: #00BBD5;
}

.clr-primary {
  color: #F9F9F8;
}
