@use "../../scss/abstracts" as *;

.footer {
    // height: 10vh;
    background-color: $clr-main-secondary;
    color: $clr-main-primary;
    font-size: 0.8rem;
    a {
        font-weight: $fw-bold;
        color: $clr-main-primary;
        &:hover{
            color: $clr-bcg-secondary;
        }
    }
}