@use "../../scss/abstracts" as *;

.footer {
    background-color: $clr-main-secondary;
    color: $clr-main-primary;
    // padding: 1rem;
    // text-align: center;
    font-size: 0.8rem;
    a {
        font-weight: $fw-bold;
        color: $clr-main-primary;
        &:hover {
            color: $clr-bcg-secondary;
        }
    }
}