@use "../../scss/abstracts" as *;


.comments-container {
    background-color: $clr-bcg-primary-dark;
    h2 {
        font-size: $fs-600; 
    }

    .comments-nav {
        cursor: pointer;
        &:hover, &:focus {
            color: $clr-main-secondary;
        }
    }
}


.comment__content-date {
    font-size: $fs-300;
    font-weight: $fw-regular;
}

//pagination styles

.page-item.active .page-link {
    color: $clr-main-primary;
    background-color: $clr-main-secondary;
    border: none;
}
.last-items {
    background-color: $clr-bcg-primary-light;
    margin-right: .3em;
    color: $clr-main-primary;
    border: none;
    text-decoration: none;
    
}
.page-item .page-link {
    margin-right: .3em;
    color: $clr-main-primary;
    background-color: $clr-bcg-secondary;
    color: $clr-main-primary;
    border: none;
}

.container-form-bcg {
    background-color: $clr-bcg-primary-light;

    .form-title {
        position: relative;

        &::after {
            content:"";
            position: absolute;
            width: 15%;
            left: 0;
            bottom: -.5rem;
            border-bottom: 1px solid $clr-main-primary;
        }
        &::before {
            content:"";
            position: absolute;
            width: 7%;
            left: 0;
            bottom: -.7rem;
            border-bottom: 1px solid $clr-main-primary;
        }
        
    }
}

input.form-control,
textarea.form-control {
    font-size: $fs-300;
    background-color: $clr-bcg-primary-light;
    color: $clr-main-primary !important;
    border-radius: 0;
    &:focus,
    &:active {
        border: none;
        outline: 1px solid $clr-main-primary;
        background-color: inherit;
        color: inherit;
        box-shadow: none;
    }
}
