@use "../../scss/abstracts" as *;


.home-container {
    height: 84vh;
    display: grid;
    grid-template-columns: 60% 1fr;
    // grid-auto-columns: fit-content; 

    position: relative;
    background-image: 
    url('/images/Shape_waves_2.svg'),
    url('/images/Polygon_1.svg'),
    url('/images/Polygon_2.svg');
    background-size: 8%, 6%, 4%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 72% 32%, 35% 10%, 35% 65%;
    
    & .hero-img {
        transform: scale(.9) translateX(8%) translateY(0%);
        grid-column: 2/3;
        place-self: end end;
        z-index: 100;
        // margin:0;
        // padding: 0;
    }

    &::before {
        content: url('/images/Polygon_3.svg');
        color: $clr-main-secondary;
        position: absolute;
        // top: 10%;
        // left: 40%;
        top: 40%;
        left: -8%;
        z-index: -3;
    }
    
    &::after {
        content: url('/images/Polygon_4.png');
        color: $clr-main-secondary;
        position: absolute;
        right:-3%;
        top: 30%;
        // top: 70%;
        // left: 40%;
        z-index: -3;
    }

.hero-text {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center left;
    z-index: 100;
    padding-left: .5em;
    
    h1 {
        font-size: 2.2rem;
        font-weight: $fw-bold;
        color: $clr-main-primary;
        &:last-of-type {
            margin-bottom: 1rem;
        }
    }
        p {
            font-size: 1.2rem;
            font-weight: $fw-regular;
            color: $clr-main-primary;
        }

        ol {
            margin-bottom: 2em;
            padding-left: 1.2em;
            li {
                font-size: 1.2rem;
                font-weight: $fw-regular;
                color: $clr-main-primary;
                margin-bottom: .2em;
                &::marker {
                    padding-left: 0;
                }
            }
    }
}

.wave-decoration {
    position: absolute;
    transform: scale(.5);
    top: -20%;
    left:-12%;
}
}
