@use './abstracts'as *;
@use 'sass:map';


body {
  font-family: $ff-body;
  font-weight: $fw-regular;
  color: $clr-main-primary;
  min-width: 270px;
  overflow-x: hidden;

  &::before {
    content: url('/images/shape_dots.png');
    color: $clr-main-secondary;
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: 0;
    transform: scale(.8)
  }

  &::after {
    content: url('/images/shape_dots.png');
    color: $clr-main-secondary;
    position: absolute;
    top: -3%;
    right: -1%;
    z-index: 0;
    transform: scale(.8)
  }
}

.btn-my-primary {
  border: none;
  outline: none;
  background-color: $clr-main-secondary;
  border-radius: 0;

  &:hover {
    background-color: $clr-main-primary;
    color: $clr-main-secondary;
  }

  @include mq(md) {
    font-size: .9rem;
  }

  @include mq(lg) {
    font-size: 1rem;
  }

}


.btn-my-secondary {
  border: 1px solid $clr-main-primary;
  // outline: none;
  background-color: $clr-bcg-primary-light;
  border-radius: 0;
  color: $clr-main-primary;

  &:hover {
    background-color: $clr-main-primary;
    color: $clr-main-secondary;
  }

  @include mq(md) {
    font-size: .9rem;
  }

  @include mq(lg) {
    font-size: 1rem;
  }

}


.clr-primary {
  color: $clr-main-primary;
}

.clr-secondary {
  color: $clr-main-secondary;
}

.bcg-secondary {
  background-color: $clr-main-secondary;
}

.uppercase {
  text-transform: uppercase;
}

h2 {
  font-size: $fs-secondary-heading;
  font-weight: $fw-bold;
  margin-bottom: 1em;
}

h3 {
  font-size: $fs-secondary-preheading;
  font-weight: $fw-bold;
}

p {
  line-height: $lh-p;
  font-size: $fs-p;
}

.description {
  width: 80%;
  margin: 0 auto;
}

//SCSS demo