@use './abstracts' as *;


body {
  font-family: $ff-body;
  font-weight: $fw-regular;
  background-color: $clr-bcg-primary;
  color: $clr-main-primary;
  min-width: 270px;
  height: 100vh;
  overflow-x: hidden;

 &::before {
    content: url('/images/shape_dots.png');
    color: $clr-main-secondary;
    position: absolute;
    top: 70%;
    left: -.5%;
    z-index: -3;
}

 &::after {
    content: url('/images/shape_dots.png');
    color: $clr-main-secondary;
    position: absolute;
    top: -2%;
    right: -.5%;
    z-index: -3;

}
}



.btn-my-primary {
  border: none;
  outline: none;
  background-color: $clr-main-secondary;
  border-radius: 0;
  &:hover {
    background-color: $clr-main-primary;
    color: $clr-main-secondary;
  } 
};

.clr-primary {
  color: $clr-main-primary;
}


